.github/ export-ignore
bin/ export-ignore
tests/ export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
badge-coverage.svg export-ignore
clover.xml export-ignore
logo-light.png export-ignore
logo-night.png export-ignore
Makefile export-ignore
phpunit.xml export-ignore
