<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="vendor/autoload.php" report-useless-tests="true">
    <testsuites>
        <testsuite name="Unit Tests" >
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Functional Tests">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>
</phpunit>